header {
    text-align: center;
    border-color: green;
    border: 0.2em;
}

article {
    
}

article img {
    max-width: 100%;
}

button {
    text-align: center;
    background-color: green;
    padding: 1rem;
}

div {
    text-align: center;
}