hgroup, nav, article, section, 
header, footer, p, img, 
figcaption, ul, li, a,
 h1, h2, h3, span, caption, thead, tfoot,
 tbody, tr, th, td, table, div,
 fieldset, legend
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}