@import "fonts.css";
@import "colour-scheme.css";


body {
    font-family: 'Noto Sans', 'Arial', 'Inter';
    margin: 0;
}

body img {
    max-width: 100%;
}

header {
    color: white;
    height: 3vh;
    padding: 1.5vh;
}

header li {
    display: inline;
    text-align: center; 
}

header a {
    color: white;
}

header h1{
    display: inline;
}

ul {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 4em;
    color: white;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

section {
    width: 100vw;
    padding: 2vw 5vw;
    margin-right: 0px;
    flex-direction: column;
}

article {
    width: 80%;
    padding: 2vw 2vw;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 3px;
    margin: auto;
    margin-bottom: 2em;
}

button {
    margin: auto;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgba(85,107,47, 0.8); /* Sage green color */
    border-radius: 0.2em;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    margin-bottom: 2vw;
}
  
button:hover {
background-color: rgba(189, 189, 189, 0.8); 
}

a {
color: white;
}

footer {
    padding: 1em;
    color: white;
}

/* classes */
.container {
    display: flex;
}

.dateTime {
    font-size: 0.9em;
    font-style: italic;
    color: lightgray;
}

/* w3schools https://www.w3schools.com/howto/howto_css_center_button.asp */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* pseudo class selectors (w3schools) */
header a:link {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: rgb(46, 46, 46);
    transition: all 0.2s ease-in-out;
}

header a:active {
    color: rgb(46, 46, 46);
}

/* id selectors */
#navigation-header li{
    margin: 0.5em;
}

#copyright {
    text-align: center;
    margin-top: auto;
}

#post-button {
    margin: auto;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgba(85,107,47, 0.8); /* Sage green color */
    border-radius: 0.2em;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    margin-bottom: 2vw;
    margin-left: 1em;
}

#post-button:hover{
    background-color: rgba(189, 189, 189, 0.8); 
}
/* DROPDOWN */
select {
    margin: auto;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgba(85,107,47, 0.8); /* Sage green color */
    border-radius: 0.2em;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    margin-bottom: 2vw;
    margin-right: 1em;
}

form {
    text-align: center;
}
