caption {
    background-color: teal;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}

th {
    font-weight: bold;
}

table {
    border: solid teal;
    width: auto;
}

thead, tfoot {
    background-color: lightgray;
}

td, th {
  border: 1px solid ;
  padding: 1px;
}

tr {
    margin: 5px;
}


